.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    }

.menu-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.mail-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-lin:hover,
.mail-link:focus {
    color: #2196F3;
}

.tel-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel-link:hover,
.tel-link:focus {
    color: #2196F3;
}

h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.modal-btn {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    background: #2196F3;
}

.modal-btn:hover,
.modal-btn:focus {
    background: #188CE8;
}